DB_FILENAME=farmaid
MIGRATE=true
API_TOKEN=4aa5f39e-0141-472a-a0d5-bfa78c6040a3
MONGOURI=mongodb+srv://App_User:Farmaid@farmaid.naenm.mongodb.net/myFirstDatabase?retryWrites=true&w=majority
JWT_SECRET=505722bd-5f6b-45f8-ae23-be0e78d333e6
CORS_ORIGIN=http://localhost:3001
